<%= form_for @business, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :bid, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bid, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :btype, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :btype, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :blatitude, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :blatitude, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :blongitude, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :blongitude, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bstreet, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bstreet, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bcity, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bcity, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bstate, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bstate, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bzip, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bzip, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bcountry, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bcountry, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bstatus, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bstatus, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bphone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bphone, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                businesses_path, :class => 'btn' %>
  </div>
<% end %>
