<%= form_for @business, :html => { :class => 'form-vertical' } do |f| %>
  <div class="control-group">
    <div class="controls">
    <div class="container">
      <div class="row">
         <div class="col-sm-2">  
    	       <%= f.label :bid,'Business ID:', :class => 'control-label' %>
         </div>
	<%= f.text_field :bid, readonly: true, :placeholder => 'system generated ID, no input required', :class => 'input-xxlarge' %><br />
        <div class="col-sm-2">  
               <%= f.label :bname,'Business Name:', :class => 'control-label' %>
         </div>
               <%= f.text_field :bname, :class => 'input-xxlarge' %><h8>* Required</h8><br />
         <div class="col-sm-2">  
               <%= f.label :btype,'Business Type:',  :class => 'control-label' %>
         </div>
               <%= f.text_field :btype, :class => 'input-xxlarge', :placeholder => 'e.g. hotel, food service, etc.' %><br />
         <div class="col-sm-2">  
               <%= f.label :bphone,'Phone Number{s}:', :class => 'control-label' %>
         </div>
            <%= tooltip_for("Multiple phones can be entered, separated by comma(,)") do %>
	     <%= f.text_field :bphone, :class => 'input-xxlarge', :placeholder => 'separate each phone # by comma, if multiple phones are entered' %>
   <% end %><h8>* required,digits only</h8><br />
         <div class="col-sm-2">  
               <%= f.label :bstreet,'Address:', :class => 'control-label' %>
         </div>
               <%= f.text_field :bstreet, :class => 'input-xxlarge' %><br />
         <div class="col-sm-2">  
               <%= f.label :bcity, 'City:', :class => 'control-label' %>
         </div>
               <%= f.text_field :bcity, :class => 'input-xxlarge' %><br />
          <div class="col-sm-2"> 
               <label for="business_state_id">State or province:</label> 
         </div>
          <div class="stateselect">
           <%=f.select :bstate, options_for_select(us_states,f.object.bstate || "CA") %>
         </div><br />
         <div class="col-sm-2">  
               <%= f.label :bzip,'Zip Code:', :class => 'control-label' %>
         </div>
               <%= f.text_field :bzip, :class => 'input-xxlarge' %><br />
         <div class="col-sm-2">  
               <%= f.label :bcountry,'Country:', :class => 'control-label' %>
         </div>
               <%= country_select("business","bcountry",{priority_countries: ["US", "GB"]}, { selected: "US",class: 'input-xxlarge'}) %><br />
         <div class="col-sm-2">  
               <%= f.label :bstatus,'Status:', :class => 'control-label' %>
          </div>
               <%= f.label :bstatus, "Active", :value => "active" %>
                  <%=f.radio_button :bstatus, "active" , :checked => true, :class => 'status-radiobutton' %>
                  <%= f.label :bstatus, "Inactive", :value => "inactive" %>
		 <%=f.radio_button :bstatus, "inactive", :class => 'status-radiobutton' %>
  </div><!-- row -->
</div><!-- container -->
</div><!-- controls-->
</div><!-- controlgroups -->
 <div class="form-actions">
	<%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                   businesses_path, :class => 'btn' %>
</div>

<% end %>
