<%= form_for @business, :html => { :class => 'form-vertical' } do |f| %>
  <div class="control-group">
    <div class="controls">
    <div class="container">
      <div class="row">
         <div class="col-sm-2">  
    	       <%= f.label :bid,'Business ID:', :class => 'control-label' %>
         </div>
        	<%= f.text_field :bid, readonly: true, :class => 'input-small' %><br />
         <div class="col-sm-2">  
               <%= f.label :bname,'Business Name:', :class => 'control-label' %>
         </div>
               <%= f.text_field :bname, :class => 'input-xlarge' %><br />
         <div class="col-sm-2">  
               <%= f.label :btype,'Business Type:',  :class => 'control-label' %>
         </div>
               <%= f.text_field :btype, :class => 'input-xlarge' %><br />
         <div class="col-sm-2">  
               <%= f.label :bphone,'Phone Number{s}:', :class => 'control-label' %>
         </div>
	     <%= f.text_field :bphone, :class => 'input-xlarge', :placeholder => 'multiple phones separated by comma' %>
             <br />
         <div class="col-sm-2">  
               <%= f.label :bstreet,'Address:', :class => 'control-label' %>
         </div>
               <%= f.text_field :bstreet, :class => 'input-xlarge' %><br />
         <div class="col-sm-2">  
               <%= f.label :bcity, 'City:', :class => 'control-label' %>
         </div>
               <%= f.text_field :bcity, :class => 'input-xlarge' %><br />
          <div class="col-sm-2"> 
               <label for="business_state_id">State or provice:</label> 
         </div>
               <%=f.select :bstate, options_for_select(us_states,f.object.bstate || "CA"), {class: 'input-xlarge'} %>
         <br />
         <div class="col-sm-2">  
               <%= f.label :bzip,'Zip Code:', :class => 'control-label' %>
         </div>
               <%= f.text_field :bzip, :class => 'input-xlarge' %><br />
         <div class="col-sm-2">  
               <%= f.label :bcountry,'Country:', :class => 'control-label' %>
         </div>
               <%= country_select("business","bcountry",{priority_countries: ["US", "GB"]}, { selected: "US",class: 'input-xlarge'}) %><br />
         <div class="col-sm-2">  
               <%= f.label :bstatus,'Status:', :class => 'control-label' %>
          </div>
               <%= f.label :bstatus_active, "Active" %>
                  <%=f.radio_button :bstatus,"active", :check => true , :class => 'status-radiobutton' %>
                  <%= f.label :bstatus_inactive, "Inactive" %>
		 <%=f.radio_button :bstatus, "inactive", :class => 'status-radiobutton' %>
  </div><!-- row -->
</div><!-- container -->
</div><!-- controls-->
</div><!-- controlgroups -->
 <div class="form-actions">
	<%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                   businesses_path, :class => 'btn' %>
</div>

<% end %>
