<div class="container">     
 
   <%= form_tag businesses_path, :class => 'navbar-search pull-left', :method => :get do %>
     <%= text_field_tag :search, params[:search], :size => 50, class: 'search-query', placeholder: "Enter business name or phone number to search" %>
       <%= submit_tag "Search", :name => nil, :class => 'btn btn-success' %>
      <%= button_tag(type: "submit", class: "btn btn-default") do %>
       <i class="glyphicon glyphicon-search"></i>
      <% end %>
 <% end %> 
</div>
<div class="container">
<div class="actions content">
     <%= link_to 'Add New Business', new_business_path %>
</div>
 <h5>List of Existing Businesses</h5>
    <% @businesses.each do |business| %>
      <br />
       <div class="col-md-2 col-md-offset-1">
             <h4>BusinessID#<%= business.bid %></h4>
             <div class="actions"> 	
                <%= link_to 'Edit', edit_business_path(business) %>
                <%= link_to 'Destroy', business, method: :delete, data: { confirm: 'Are you sure?' } %>
             </div>
        </div>
        <div class="col-md-9">
            <h4><%= business.bname %></h4>
            <div class="body">
                Business Type: <%= business.btype %><br />
                Geo Location: Latitude: <%= business.blatitude %>
                              Longitude: <%= business.blongitude %><br />
                Address: <%= business.bstreet %>, <%= business.bcity %>, <%= business.bstate %>  <%= business.bzip %>,  <%= business.bcountry %><br />
                Phone:<%= business.bphone %> <br />
                Status: <%= business.bstatus %><br />
         </div>
       </div>
    <% end %>
</div>
</div>
