<h2>Listing businesses</h2>
<div>
<%= form_tag businesses_path, :method => 'get' do %>
  <p>
     Enter Business Name or Phone Number to search:
     <%= text_field_tag :search, params[:search] %>
     <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
</div>
  <div id="businesses">
    
    <% @businesses.each do |business| %>
       <div class="business">
           <div class="side">
             <div class="number">BusinessID#<%= business.bid %></div>
             <div class="actions"> 	
                <%= link_to 'Edit', edit_business_path(business) %>
                <%= link_to 'Destroy', business, method: :delete, data: { confirm: 'Are you sure?' } %>
             </div>
        </div>
        <div class="main">
            <h2><%= business.bname %></h2>
            <div class="body">
                Business Type: <%= business.btype %><br />
                Geo Location: Latitude: <%= business.blatitude %>
                              Longitude: <%= business.blongitude %><br />
                Address: <%= business.bstreet %> City: <%= business.bcity %> State:<%= business.bstate %> Zip Code: <%= business.bzip %> Country: <%= business.bcountry %><br />
                Phone:<%= business.bphone %> <br />
                Status: <%= business.bstatus %><br />
         </div>
    <% end %>
<div class="actions content">
	<%= link_to 'New Business', new_business_path %>
</div>
