<h2>Listing businesses</h2>
<div>
<%= form_tag businesses_path, :method => 'get' do %>
  <p>
     <%= text_field_tag :search, params[:search] %>
     <%= submit_tag "Search By Business Name or Phone Number", :name => nil %>
  </p>
<% end %>
</div>
<table>
  <thead>
    <tr>
      <th>Bid</th>
      <th>Name</th>
      <th>Type</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>StreetNo StreetName</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Country</th>
      <th>Phone</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= business.bid %></td>
        <td><%= business.bname %></td>
        <td><%= business.btype %></td>
        <td><%= business.blatitude %></td>
        <td><%= business.blongitude %></td>
        <td><%= business.bstreet %></td>
        <td><%= business.bcity %></td>
        <td><%= business.bstate %></td>
        <td><%= business.bzip %></td>
        <td><%= business.bcountry %></td>
        <td><%= business.bphone %></td>
        <td><%= business.bstatus %></td>
        <td><%= link_to 'Show', business %></td>
        <td><%= link_to 'Edit', edit_business_path(business) %></td>
        <td><%= link_to 'Destroy', business, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business', new_business_path %>
