<p id="notice"><%= notice %></p>

<p>
  <strong>Bid:</strong>
  <%= @business.bid %>
</p>

<p>
  <strong>Bname:</strong>
  <%= @business.bname %>
</p>

<p>
  <strong>Btype:</strong>
  <%= @business.btype %>
</p>

<p>
  <strong>Blatitude:</strong>
  <%= @business.blatitude %>
</p>

<p>
  <strong>Blongitude:</strong>
  <%= @business.blongitude %>
</p>

<p>
  <strong>Bstreet:</strong>
  <%= @business.bstreet %>
</p>

<p>
  <strong>Bcity:</strong>
  <%= @business.bcity %>
</p>

<p>
  <strong>Bstate:</strong>
  <%= @business.bstate %>
</p>

<p>
  <strong>Bzip:</strong>
  <%= @business.bzip %>
</p>

<p>
  <strong>Bcountry:</strong>
  <%= @business.bcountry %>
</p>

<p>
  <strong>Bstatus:</strong>
  <%= @business.bstatus %>
</p>

<p>
  <strong>Bphone:</strong>
  <%= @business.bphone %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
