<%= form_for @login do |f| %>
  <% if @login.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@login.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @login.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <div class="controls">
    <div class="container">
      <div class="row">
         <div class="col-sm-3">
               <%= f.label :id,'User ID:', :class => 'control-label' %>
         </div>
                <%= f.text_field :id, readonly: true, :class => 'input-small' %><br />
         <div class="col-sm-3">
             <%= f.label :firstname, 'First Name:' %>
         </div>
             <%= f.text_field :firstname %><br />
         <div class="col-sm-3">
              <%= f.label :lastname, 'Last Name:' %>
         </div>
              <%= f.text_field :lastname %><br />
         <div class="col-sm-3">
              <%= f.label :phone, 'Phone:' %>
         </div>
              <%= f.text_field :phone %><br />
         <div class="col-sm-3">
              <%= f.label :email, 'Email:' %>
         </div>
              <%= f.text_field :email %><br />
         <div class="col-sm-3">
              <%= f.label :username, 'Username:' %>
         </div>
              <%= f.text_field :username %><br />
         <div class="col-sm-3">
              <%= f.label :password, 'Password:' %>
         </div>
              <%= f.password_field :password, autocomplete: "off" %><br />
         <div class="col-sm-3">
              <%= f.label :password_confirmation, 'Confirm Password:' %>
         </div>
              <%= f.password_field :password_confirmation, autocomplete: "off" %><br />
         <div class="col-sm-3">
              <%= f.label :role, 'Role :' %><br />
         </div>
              <%= label :role_user, 'User' %>
              <%= f.radio_button  :role, 'user',:class => 'status-radiobutton', :checked => true %>
              <%= label :role_administrator, 'Administrator' %>
              <%= f.radio_button  :role, 'admin',:class => 'status-radiobutton' %>
              <%= label :role_both, 'Both' %>
              <%= f.radio_button  :role, 'both', :class => 'status-radiobutton' %>
              <%= label :role_both, 'Other' %>
              <%= f.radio_button  :role, 'other', :class => 'status-radiobutton' %>
         <br />
         <div class="col-sm-3">
               <%= f.label :status,'Status:', :class => 'control-label' %>
          </div>
               <%= f.label :sstatus_active, "Active" %>
                  <%=f.radio_button :status,"active", :check=> true , :class => 'status-radiobutton' %>
                  <%= f.label :status_inactive, "Inactive" %>
                 <%=f.radio_button :status, "inactive", :class => 'status-radiobutton' %>

      </div><!-- row -->
    </div><!-- container -->
    </div><!-- controls -->
  </div><!-- control-group -->
  <div class="form-actions">
    <% if @login.persisted? %>
        <%= f.submit 'Update',  :class => 'btn btn-primary' %>
    <% else %>
        <%= f.submit 'Create new user',  :class => 'btn btn-primary' %>
    <% end %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                 logins_path , :class => 'btn' %>

  </div>
<% end %>
