<br />
<% title "User Profile" %>
<% if can? :manage, Login  %>
   <%- model_class = Login -%>
        <h2><%=t '.title', :default => 'User Profile', :class => "page-header" %></h2>
   <div class="container">
        <div class="actions content">
                <%= link_to raw('<i class="glyphicon glyphicon-plus white"> New User</i>'), new_login_path, class: "btn btn-csm btn-add-new pull-left" %>
        </div>
        <%= form_tag logins_path, :class => 'form-search form-inline pull-right', :method => :get do %>
        <div class="input-group">
            <%= text_field_tag :search, params[:search], class: 'form-control search-query pull-right', placeholder: "By first,last or username", autofocus: true %>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-search"></i>  Search</button>
            </span>
        </div><!-- input-group -->
        <% end %><!-- form_tag -->
      <h3>List of Existing Users</h3>
   </div><!-- container -->
    <%= paginate @logins %>    
   <div class="container">
      <% @logins.each do |login| %>
       <div class="col-md-3">
             <h7>Username: <%= login.username %></h7>
             <div class="actions">
                <%= link_to '<i class="glyphicon glyphicon-edit">Edit</i>'.html_safe, edit_login_path(login), class: "btn btn-xs btn-custom-edit" %>
                <tt><%= link_to '<i class="glyphicon glyphicon-trash">Delete</i>'.html_safe, login, class: "btn btn-xs btn-custom-delete", method: :delete, data: { confirm: 'Are you sure?' } %></tt>
             </div><!-- class=action -->
        </div><!-- class="col-md-3 col-md-offset-1" -->
        <div class="col-md-9">
            <h7>Firstname Lastname: <%= [login.firstname, login.lastname].compact.join(' ') %></h7>
                 <div class="row">
                    <div class="col-md-2">
                         Email :
                    </div>
                    <div class="col-md-10">
                         <%= login.email %>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-md-2">
                         Status: 
                    </div>
                    <div class="col-md-10">
                         <%= login.status %>
                    </div> 
                 </div><!-- class= row -->
         </div><!-- class=col-md-9 -->
      <% end %><!-- |login| -->
   </div><!-- container -->
<% else %><!-- can ? ---- -->
    <p>Sorry <%= [current_login.firstname, current_login.lastname].compact.join (' ') %>, you are not an Administrator</p>

<% end %><!-- if can  -->
 
