<body>
    <div class="container">
           <div class="tabbable">
              <div id="tabs">
                <ul class="nav nav-tabs">
                   <% if login_signed_in?  %>
                        <% if can? :manage, @logins %>
                            <li class="selected"><a href="#personal" data-toggle="tab">Personal</a></li>
                        <% end %>
                           <li><a data-toggle="tab" href="#administrativetasks">Administrative Tasks</a></li>
                    <% else %>
                        <li class="selected"><a href="#admin" data-toggle="tab">Administrator Sign In</a></li>
                    <% end %>
                    <li><a href="#viewdata" data-toggle="tab">View Postings</a></li>
                    <li><a href="#logout" data-toggle="tab">Logout</a></li>
               </ul></div>
               <div class="tab-content">        
          	  <div class="tab-pane" id="personal">
                     <h4>Update My information</h4>
		      <nav class="list">
                       <ul>
                           <li><%= link_to 'My profile',edit_login_registration_path  %></li>
                       </ul>
                      </nav>
                  </div>
                  <div class="tab-pane" id="administrativetasks">
                       <h4>User Maintenance</h4>
                       <nav>
                         <ul class="list">
                            <li><%= link_to 'Manage user', logins_path %></li>
                       </ul>
                        </nav>
                       <h4>Business Maintenance</h4>
                         <nav class="list">
                            <ul>
                            <li><%= link_to 'Business Resource', businesses_path %></li>
                            </ul>
                        <h4>Social Media Sites Maintenance</h4>
                            <ul>
                               <li><%= link_to 'Social Media Site Management', socialmediasites_path %></li>
		            </ul>
                           <h4>Posting data Mapping</h4>
                           <ul>
                              <li><%= link_to 'Social Media Posting Mapping', ssdmappings_path %></li>
                             </ul>
                           </nav>
		  </div><!-- administrativetasks -->
                  <div class="tab-pane" id="viewdata">
                      <h4>Coming Soon ... </h4>
                         <nav class="list">
                            <ul>
                              <li><%= link_to 'View Posting data', '#' %></li>
                            </ul>
                         </nav>
                  </div>
                  <div class="tab-pane" id="admin">
                      <h4>Please click the link below to sign in</h4>
                        <nav class="list">
                             <ul>
                                <li><%= link_to "Administrator Sign In", signin_path %></li>
                             </ul>
                        </nav>
                  </div>
                  <div class="tab-pane" id="logout">
                      <h4>Sure want to sign out? Click the link below</h4>
                       <nav class="list">
                          <ul>
                      		<li><%= link_to "Logout",logout_path %></li>
                          </ul>
                       </nav>
                  </div>
             </div><!-- tab-content -->
          </div><!-- tabbable -->
</div><!-- container -->
</body>

   <script type="text/javascript">
        $(document).ready(function () {
            $('#tabs ul li a').click(function(ev){
               $('#tabs ul li').removeClass('selected');
               $(ev.currentTarget).parent('li').addClass('selected');
         });
       });
    </script>

