<body>
    <div class="container">
           <div class="tabbable">
              <div id="tabs">
                <ul class="nav nav-tabs">
                   <% if login_signed_in? && current_login.username != 'admin' %>
                        <li class="selected"><a href="#personal" data-toggle="tab">Personal</a></li>
                        <li><a data-toggle="tab" href="#administrativetasks">Administrative Tasks</a></li>
                    <% else %>
                        <li class="selected"><a href="#admin" data-toggle="tab">Administrator Sign In</a></li>
                    <% end %>
                    <li><a href="#viewdata" data-toggle="tab">View Postings</a></li>
                    <li><a href="#logout" data-toggle="tab">Logout</a></li>
               </ul></div>
               <div class="tab-content">        
          	  <div class="tab-pane" id="personal">
                     <h4>Update My information</h4>
		      <nav class="list">
                       <ul>
                           <li><%= link_to 'My profile',edit_login_registration_path  %></li>
                       </ul>
                      </nav>
                  </div>
                  <div class="tab-pane" id="administrativetasks">
                       <h4>User Maintenance</h4>
                       <nav>
                         <ul class="list">
                            <li><%= link_to 'Find user','#' %></li>
                            <li><%= link_to 'Add user', '#' %></li>
                       </ul>
                        </nav>
                       <h4>Business</h4>
                         <nav class="list">
                            <ul>
                            <li><%= link_to 'Find Business', businesses_path %></li>
                            <li><%= link_to 'Add Business', new_business_path %></li>
                            </ul>
                        <h4>Social Media Sites</h4>
                            <ul>
                               <li><%= link_to 'Social Media Site Data', socialmediasites_path %></li>
		            </ul>
                           <h4>Posting data Mapping</h4>
                           <ul>
                              <li><%= link_to 'Social Media Mapping', ssdmappings_path %></li>
                             </ul>
                           </nav>
		  </div><!-- administrativetasks -->
                  <div class="tab-pane" id="viewdata">
                      <h4>Coming Soon ... </h4>
                         <nav class="list">
                            <ul>
                              <li><%= link_to 'View Posting data', '#' %></li>
                            </ul>
                         </nav>
                  </div>
                  <div class="tab-pane" id="admin">
                      <h4>Please click the link below to sign in</h4>
                        <nav class="list">
                             <ul>
                                <li><%= link_to "Administrator Sign In", new_login_session_path %></li>
                             </ul>
                        </nav>
                  </div>
                  <div class="tab-pane" id="logout">
                      <h4>Sure want to sign out? Click the link below</h4>
                       <nav class="list">
                          <ul>
                      		<li><%= link_to "Logout", destroy_login_session_path, :method => :delete %></li>
                          </ul>
                       </nav>
                  </div>
             </div><!-- tab-content -->
          </div><!-- tabbable -->
</div><!-- container -->
</body>

   <script type="text/javascript">
        $(document).ready(function () {
            $('#tabs ul li a').click(function(ev){
               $('#tabs ul li').removeClass('selected');
               $(ev.currentTarget).parent('li').addClass('selected');
         });
       });
    </script>

