<%= form_for @socialmediasite, :html => { :class => 'form-vertical' } do |f| %>
  <div class="control-group">
    <div class="controls">
       <div class="container">
         <div class="row">
           <div class="col-sm-3">
    		<%= f.label :ssid, 'SocialMediaSiteID', :class => 'control-label' %>
      	   </div>
                <%= f.text_field :ssid,readonly:true,:class => 'input-xlarge' %><br />
           <div class="col-sm-3">
    		<%= f.label :ssname,'Social Media Site Name:', :class => 'control-label' %>
           </div>     
                <%= f.text_field :ssname, :class => 'input-xlarge' %><br />
           <div class="col-sm-3">
                <%= f.label :ssurl,'URL:', :class => 'control-label' %>
    	   </div>
      		<%= f.text_field :ssurl, :class => 'input-xlarge' %><br />
           <div class="col-sm-3">
    		<%= f.label :ssurlquery,'Query Header:', :class => 'control-label' %>
           </div>
           	<%= f.text_field :ssurlquery, :class => 'input-xlarge' %><br />
  	   <div class="col-sm-3">
    		<%= f.label :ssaccesstoken,'Access Token:', :class => 'control-label' %>
   	   </div>
      		<%= f.text_field :ssaccesstoken, :class => 'input-xlarge' %><br />
           <div class="col-sm-3">
                <%= f.label :ssaccesstokensecretkey,'Access Token Secret key:', :class => 'control-label' %>
           </div>    
  		<%= f.text_field :ssaccesstokensecretkey, :class => 'input-xlarge' %><br />
           <div class="col-sm-3">
            	 <%= f.label :ssconsumerkey,'Consumer Key:', :class => 'control-label' %>
           </div>
              	<%= f.text_field :ssconsumerkey, :class => 'input-xlarge' %><br >
           <div class="col-sm-3">
     		<%= f.label :ssconsumersecret,'Consumer Secret:', :class => 'control-label' %>
           </div>
     		 <%= f.text_field :ssconsumersecret, :class => 'input-xlarge' %><br />
  	   <div class="col-sm-3">
    		<%= f.label :status,'Status:', :class => 'control-label' %>
   	   </div>
                  <%= f.label :status_active, "Active" %>
	          <%=f.radio_button :status,"active", :check => true , :class => 'status-radiobutton' %>
                  <%= f.label :status_inactive, "Inactive" %>
	          <%=f.radio_button :status, "inactive", :class => 'status-radiobutton' %>      		
 	          <br />
           <div class="col-sm-3">
    		<%= f.label :login_id,'Userid:', :class => 'control-label' %>
    	   </div>
      		<%= f.text_field :login_id, :readonly => true, :class => 'input-xlarge' %><br />
           <div class="col-sm-3">
    		<%= f.label :searchby,'SearchBy:', :class => 'control-label' %>
    	   </div>
                <%= f.select(:sssearchby, ['business name', 'business phone'],{}, { :class => 'input-xlarge'}) %>


	</div><!-- row -->
     </div><!-- container -->
  </div><!-- controls-->
</div><!-- controlgroups -->
  
  <div class="form-actions">
    <% if @socialmediasite.persisted? %>
    	<%= f.submit 'Update',  :class => 'btn btn-primary' %>
    <% else %>
     	<%= f.submit 'Create new site',  :class => 'btn btn-primary' %>
    <% end %>    
<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                socialmediasites_path, :class => 'btn' %>
  </div>
<% end %>
