<%= form_for @socialmediasite, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :ssid, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ssid, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ssname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ssname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ssurl, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ssurl, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ssurlquery, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ssurlquery, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ssaccesstoken, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ssaccesstoken, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ssaccesstokensecretkey, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ssaccesstokensecretkey, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ssconsumerkey, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ssconsumerkey, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ssconsumersecret, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ssconsumersecret, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :status, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :userid, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :userid, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                socialmediasites_path, :class => 'btn' %>
  </div>
<% end %>
