<%= form_for(@socialmediasite) do |f| %>
  <% if @socialmediasite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@socialmediasite.errors.count, "error") %> prohibited this socialmediasite from being saved:</h2>

      <ul>
      <% @socialmediasite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ssid %><br>
    <%= f.text_field :ssid %>
  </div>
  <div class="field">
    <%= f.label :ssname %><br>
    <%= f.text_field :ssname %>
  </div>
  <div class="field">
    <%= f.label :ssurl %><br>
    <%= f.text_field :ssurl %>
  </div>
  <div class="field">
    <%= f.label :ssurlquery %><br>
    <%= f.text_field :ssurlquery %>
  </div>
  <div class="field">
    <%= f.label :ssaccesstoken %><br>
    <%= f.text_field :ssaccesstoken %>
  </div>
  <div class="field">
    <%= f.label :ssaccesstokensecretkey %><br>
    <%= f.text_field :ssaccesstokensecretkey %>
  </div>
  <div class="field">
    <%= f.label :ssconsumerkey %><br>
    <%= f.text_field :ssconsumerkey %>
  </div>
  <div class="field">
    <%= f.label :ssconsumersecret %><br>
    <%= f.text_field :ssconsumersecret %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :userid %><br>
    <%= f.number_field :userid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
