<% if can? :manage, @logins %>
<%- model_class = Socialmediasite -%>
  <h2><%=t '.title', :default => 'API Management', :class => "page-header" %></h2>
  <%= link_to 'What is API/API Key? What are API keys used for?', static_pages_api_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => "#basicModal" , 'data-type' => "html", 'class' => "linkapi" , 'style' => "color: blue; text-decoration: underline;"} %>
 <div class="modal fade" id="basicModal">
      <div class="modal-dialog">
           <div class="modal-content">
                <%= render partial: 'static_pages/api' %>
           </div>
      </div>
   </div>
<div class="container">
     <div class="actions content">
           <%= link_to '<i class="glyphicon glyphicon-plus white"> New API Site Entry</i>'.html_safe, new_socialmediasite_path, class: "btn btn-csm btn-add-new pull-left" %>
     </div>
     <%= form_tag socialmediasites_path, :class => 'form-search form-inline pull-right', :method => :get do %>
      	 <div class="input-group">
             <%= text_field_tag :search, params[:search], class: 'form-control search-query pull-right', placeholder: "Enter site name to search" %>
             <span class="input-group-btn">
                <button type="submit" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-search"></i>  Search</button>
             </span>
         </div>
     <% end %>
        <h3>List of Existing Social Media Sites</h3>
    </div><%= paginate @socialmediasites_array %> 
<div class="container">
    <% @socialmediasites_array.each do |socialmediasite| %>
       <div class="col-md-2 col-md-offset-1">
             <h7>Social MediaID#<%= socialmediasite.ssid %></h7>
             <div class="actions">
                <%= link_to '<i class="glyphicon glyphicon-edit">Edit</i>'.html_safe, edit_socialmediasite_path(socialmediasite), class: "btn btn-xs btn-custom-edit" %>
                <tt><%= link_to '<i class="glyphicon glyphicon-trash">Delete</i>'.html_safe , socialmediasite_path(socialmediasite), class: "btn btn-xs btn-custom-delete", method: :delete, data: { confirm: 'Are you sure?' } %></tt>
             </div><!-- class=action -->
        </div><!-- class="col-md-2 col-md-offset-1" -->
        <div class="col-md-9">
            <h7>Site name: <%= socialmediasite.ssname %></h7>
            <div class="row">
               <div class="col-md-3">URI:</div>
               <div class="col-md-6"><%= socialmediasite.ssurl %></div>
            </div><!-- class="row" -->
            <div class="row">
               <div class="col-md-3">Request Query: </div>
               <div class="col-md-6"><%= socialmediasite.ssurlquery %></div>
            </div><!-- class="row" -->
            <div class="row">
               <div class="col-md-3">Access Token:</div>
               <div class="col-md-6">****************************</div>
            </div><!-- class="row" -->
            <div class="row">
               <div class="col-md-3">Token Secret Key: </div>
               <div class="col-md-6">****************************</div>
            </div><!-- class="row" -->
            <div class="row">
               <div class="col-md-3">Consumer Key: </div>
               <div class="col-md-6">****************************</div>
            </div><!-- class="row" -->
            <div class="row">
               <div class="col-md-3">Consumer Secret: </div>
               <div class="col-md-6">****************************</div>
            </div><!-- class="row" -->
            <div class="row">
               <div class="col-md-3">Status: </div>
               <div class="col-md-6"><%= socialmediasite.status %></div>
            </div><!-- class="row" -->
       </div><!-- class=col-md-9 -->
       <% end %><!-- |socialmediasite| -->
</div><!-- container -->
<% end %>

