<%- model_class = Socialmediasite -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Social Media ID:</strong></dt>
  <dd><%= @socialmediasite.ssid %></dd>
  <dt><strong>Social Media Name:</strong></dt>
  <dd><%= @socialmediasite.ssname %></dd>
  <dt><strong>URI:</strong></dt>
  <dd><%= @socialmediasite.ssurl %></dd>
  <dt><strong>Request Query:</strong></dt>
  <dd><%= @socialmediasite.ssurlquery %></dd>
  <dt><strong>Access Token:</strong></dt>
  <dd><%= @socialmediasite.ssaccesstoken %></dd>
  <dt><strong>Access Token Secret:</strong></dt>
  <dd><%= @socialmediasite.ssaccesstokensecretkey %></dd>
  <dt><strong>Consumer key:</strong></dt>
  <dd><%= @socialmediasite.ssconsumerkey %></dd>
  <dt><strong>Consumer Secret %>:</strong></dt>
  <dd><%= @socialmediasite.ssconsumersecret %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @socialmediasite.status %></dd>
  <dt><strong>Search By:</strong></dt>
  <dd><%= @socialmediasite.sssearchby %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              session[:index_page], :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_socialmediasite_path(@socialmediasite), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              socialmediasite_path(@socialmediasite),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
