<% if can? :manage, @logins %>
<%- model_class = Socialmediasite -%>
  <h1><%=t '.title', :default => "Social Media Site", :class => "page-header" %></h1>
<dl class="dl-horizontal">
 <div class="container">
 <div class="row">
  <dt><strong>Social Media ID:</strong></dt>
  <dd><%= @socialmediasite.ssid %></dd>
  <dt><strong>Social Media Name:</strong></dt>
  <dd><%= @socialmediasite.ssname %></dd>
  <dt><strong>URI:</strong></dt>
  <dd><%= @socialmediasite.ssurl %></dd>
  <dt><strong>Request Query:</strong></dt>
  <dd><%= @socialmediasite.ssurlquery %></dd>
  <dt><strong>Access Token:</strong></dt>
  <dd><%= @socialmediasite.ssaccesstoken %></dd>
  <dt><strong>Access Token Secret:</strong></dt>
  <dd><%= @socialmediasite.ssaccesstokensecretkey %></dd>
  <dt><strong>Consumer key:</strong></dt>
  <dd><%= @socialmediasite.ssconsumerkey %></dd>
  <dt><strong>Consumer Secret %>:</strong></dt>
  <dd><%= @socialmediasite.ssconsumersecret %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @socialmediasite.status %></dd>
  <dt><strong>Search By:</strong></dt>
  <dd><%= @socialmediasite.sssearchby %></dd>
</dl>
</div><!-- container -->
</div><!-- row -->
<div class="form-actions">
  <%= link_to '<i class="glyphicon glyphicon-hand-left"></i>Back'.html_safe,
              socialmediasites_path, class: "btn btn-sm btn-custom-back"  %>
  <%= link_to '<i class="glyphicon glyphicon-edit"></i>Edit'.html_safe,
              edit_socialmediasite_path(@business), class: "btn btn-sm btn-custom-edit" %>
  <%= link_to '<i class="glyphicon glyphicon-trash"></i>Delete'.html_safe,
              socialmediasite_path(@socialmediasite),
              class: "btn btn-sm btn-custom-delete", method: :delete,
              data: { confirm: 'Are you sure?' } %>
</div>

<% end %>
