<p id="notice"><%= notice %></p>

<p>
  <strong>Ssid:</strong>
  <%= @socialmediasite.ssid %>
</p>

<p>
  <strong>Ssname:</strong>
  <%= @socialmediasite.ssname %>
</p>

<p>
  <strong>Ssurl:</strong>
  <%= @socialmediasite.ssurl %>
</p>

<p>
  <strong>Ssurlquery:</strong>
  <%= @socialmediasite.ssurlquery %>
</p>

<p>
  <strong>Ssaccesstoken:</strong>
  <%= @socialmediasite.ssaccesstoken %>
</p>

<p>
  <strong>Ssaccesstokensecretkey:</strong>
  <%= @socialmediasite.ssaccesstokensecretkey %>
</p>

<p>
  <strong>Ssconsumerkey:</strong>
  <%= @socialmediasite.ssconsumerkey %>
</p>

<p>
  <strong>Ssconsumersecret:</strong>
  <%= @socialmediasite.ssconsumersecret %>
</p>

<p>
  <strong>Status:</strong>
  <%= @socialmediasite.status %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @socialmediasite.userid %>
</p>

<%= link_to 'Edit', edit_socialmediasite_path(@socialmediasite) %> |
<%= link_to 'Back', socialmediasites_path %>
