<% if can? :manage, @logins %>
<% if @site.blank? %>
   <h8> No Unmapped Existing Social Media Site in Database. All sites have mapping rules.  If you want to modify the rule, click the Data Integration link  and locate the associated rule to edit.</h8>
<% else %>
<%= form_for(@ssdmapping) do |f| %>
  <% if @ssdmapping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ssdmapping.errors.count, "error") %> prohibited this ssdmapping from being saved:</h2>

      <ul>
      <% @ssdmapping.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <div class="controls">
      <div class="container">
         <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-3 control-label">
                 <%= f.label :mappingid,'Posting mapping ID:' %>
              </div>
              <div class="col-md-9">
                 <%= f.text_field :mappingid, readonly: true, :class => 'form-control input-md', :placeholder => 'System generated id, no input required' %>
              </div>
            </div><!-- row -->
            <div class="row">
               <div class="col-md-3 control-label">
                  <%= f.label :ssid, 'Social Media Site:' %>
               </div>   
               <div class="col-md-9">
                    <% unless @site.nil? %>
                   <%= f.collection_select :ssid, @site, :ssid, :ssname, :prompt => "Select a Social Media Site-It is Required", :class => 'form-control input-md' %>
                    <h8>* required.</h8>
                    <% end %>
               </div>

            </div>
            <div class="row">
                <div class="col-md-3 control-label">
                    <%= f.label :ssdcommentorid, 'Posting Commentor ID:' %>
                </div>
                <div class="col-md-9">
                    <%= tooltip_for(Ssdmapping.commentoridtip) do %>
                    <%= f.text_field :ssdcommentorid, :placeholder => "path.attributename -> Posting Commentor ID", :class => 'form-control input-md' %>
                <% end %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 control-label">
                    <%= f.label :ssdcommentorname, 'Posting Commentor Name:' %>
                </div>
                <div class="col-md-9">
                    <%= tooltip_for(Ssdmapping.commentornametip) do %>
                       <%= f.text_field :ssdcommentorname, :placeholder => "path.attributename -> Posting Commentor Name", :class => 'form-control input-md' %>
                    <% end %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 control-label">
                    <%= f.label :ssdcommentortimezone, 'Commentor TimeZone:' %>
                </div> 
                <div class="col-md-9">
                    <%= tooltip_for(Ssdmapping.commentortimezonetip) do %>
                    <%= f.text_field :ssdcommentortimezone, :placeholder => "path.attributename -> Commentor TimeZone",:class => 'form-control input-md' %>
                    <% end %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 control-label">
                    <%= f.label :ssdpostingtimezone, 'Posting Timezone:' %>
                </div>
                <div class="col-md-9">
                    <%= tooltip_for(Ssdmapping.postingtimezonetip) do %>
                    <%= f.text_field :ssdpostingtimezone, :placeholder => "path.attributename => Posting Timezone", :class => 'form-control input-md' %>
                    <% end %>
                </div>
            </div>
            <div class="row"> 
                <div class="col-md-3 control-label">
                    <%= f.label :postingURL, 'Posting URL:' %>
                </div>
                <div class="col-md-9">
                    <%= tooltip_for(Ssdmapping.postingURLtip) do %>
                    <%= f.text_field :postingurl, :placeholder => "path.attributename -> Posting URL", :class => 'form-control input-md' %>
                    <% end %>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-3 control-label">
                    <%= f.label :ssdcommentorlanguage, 'Commentor language:' %>
                </div>
                <div class="col-md-9">
                    <%= tooltip_for(Ssdmapping.commentorlanguagetip) do %>
                    <%= f.text_field :ssdcommentorlanguage, :placeholder => "path.attributename -> Commentor language",:class => 'form-control input-md' %>
                    <% end %>
                </div>
            </div>
         <div class="row">
            <div class="col-md-3 control-label">
                <%= f.label :ssdtotalreview, 'Total Posting Reviews:' %>
            </div>
            <div class="col-md-9">
                    <%= tooltip_for(Ssdmapping.totalpostingreviewstip) do %>
                    <%= f.text_field :ssdtotalreview, :placeholder => "path.attributename -> Total Posting Reviews", :class => 'form-control input-md' %>
		    <% end %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 control-label">
                <%= f.label :ssdoverallrating, 'Overall Rating:' %>
            </div>
            <div class="col-md-9">
                    <%= tooltip_for(Ssdmapping.overallratingtip) do %>
                <%= f.text_field :ssdoverallrating, :placeholder => "path.attributename -> Overall Rating",:class => 'form-control input-md' %>
                    <% end %>
            </div>
        </div>
        <div class="row">
             <div class="col-md-3 control-label">
                <%= f.label :ssdcommentorrating, 'Rating By Commentor:' %>
             </div>
             <div class="col-md-9">
                    <%= tooltip_for(Ssdmapping.ratingbycommentortip) do %>
                <%= f.text_field :ssdcommentorrating, :placeholder => "path.attributes -> Rating By Commentor", :class => 'form-control input-md' %>
                    <% end %>
             </div>
        </div>
        <div class="row">
             <div class="col-md-3 control-label">
                <%= f.label :ssdcomment, 'Review Comment:' %>
             </div>
             <div class="col-md-9">
                    <%= tooltip_for(Ssdmapping.reviewcommenttip) do %>
                <%= f.text_field :ssdcomment, :placeholder => "path.attributename -> Review Comment", :class => 'form-control input-md' %>
                    <% end %>
             </div>
        </div><!--  row -->
        <div class="row"> 
             <div class="col-md-3 control-label">
                <%= f.label :ssdpostat, 'Review posted at:' %>
             </div>
             <div class="col-md-9">
                    <%= tooltip_for(Ssdmapping.reviewpostedattip) do %>
                <%= f.text_field :ssdpostat, :placeholder => "path.attributename -> Review posted at", :class => 'form-control input-md' %>
                    <% end %>
             </div>
        </div><!-- row -->
        <div class="row">
             <div class="col-md-3 control-label">
                <%= f.label :ssdcommentorloc, 'Commentor Location:' %>
             </div>
             <div class="col-md-9">
                    <%= tooltip_for(Ssdmapping.commentorlocationtip) do %>
                   <%= f.text_field :ssdcommentorloc, :placeholder => "Commentor Location", :class => 'form-control input-md' %>
                    <% end %>
             </div>
        </div><!-- row -->
      </div><!-- col-md-9 -->
     <!-- <div class="clearfix visible-xs"></div>  -->
        <div class="col-md-3">
               <p style='color:#000;'> The data attribute representation rules are required for the interpretation of Social Media data response. The responses are in json format.  The rules are applied to enable the json data from the social media sites to be represented and display to users. Not all the data fields need to have rules and represented. Applied rules to all the appropriate attribute(s) as desired. The mapping rule example provided is a <a href="https://developers.google.com/places/documentation/details#PlaceDetailsResponses" style='color:blue;text-decoration:underline;'>Google Place Search Response Sample</a> from <a href="https://developers.google.com/places/documentation/" style='color:blue;text-decoration:underline;'>Google Developer website.</a></p>
               <%= link_to 'Click Here for Detailed Explanation', '/resource/PostingDataRepresentation.pdf', style: 'color:blue;text-decoration:underline;' -%>
             <p style='color:red;'> if unsure about the path to the attribute from the json result, just enter the attribute name, the mapping validation will suggest the mapping path choices and an example output of each path.attributename </p>
        </div>
        </div><!-- row -->
    </div><!-- container -->
    </div><!-- controls -->
  </div><!-- control-group -->
  <div class="col-md-3 col-md-offset-1">
      <div class="form-actions">
        <%= f.submit 'Submit', :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                   ssdmappings_path, :class => 'btn' %>
      </div>  
  </div>
<% end %><!-- form -->
<% end %> <!-- @site.blank? -->
<% end %><!-- if can -->
