 <% if can? :manage, @logins %>
<%= form_for(@ssdmapping) do |f| %>
  <% if @ssdmapping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ssdmapping.errors.count, "error") %> prohibited this ssdmapping from being saved:</h2>

      <ul>
      <% @ssdmapping.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <div class="controls">
    <div class="container">
      <div class="row">
         <div class="col-sm-3">
               <%= f.label :mappingid,'Posting mapping ID:', :class => 'control-label' %>
         </div>
                <%= f.text_field :mappingid, readonly: true, :class => 'input-small' %>
  <div class="col-sm-5 pull-right">
            <%= link_to 'Click Here for Detailed Explanation', '/resource/PostingDataRepresentation.pdf' -%>
              <br /><%= image_tag "dataRepresentationTable.png"  %>
         </div>
<br />
         <div class="col-sm-3">
             <%= f.label :ssid, 'Social Media Site ID:' %>
         </div>   
         <div class="col-sm-4">
             <%= f.collection_select :ssid, @site, :ssid, :ssname, :prompt => "Select a Social Media Site" %>
         </div>
<br />
         <div class="col-sm-3">
              <%= f.label :ssdcommentorid, 'Posting Commentor ID:' %>
         </div>
         <div class="col-sm-4">
              <%= f.text_field :ssdcommentorid %>
         </div><br />
         <div class="col-sm-3">
              <%= f.label :ssdcommentorname, 'Posting Commentor Name:' %>
         </div>
         <div class="col-sm-4">
              <%= f.text_field :ssdcommentorname %></div><br />
         <div class="col-sm-3">
              <%= f.label :ssdcommentortimezone, 'Commentor TimeZone:' %>
         </div> 
         <div class="col-sm-4">
              <%= f.text_field :ssdcommentortimezone %></div><br />
         <div class="col-sm-3">
              <%= f.label :ssdpostingtimezone, 'Posting Timezone:' %>
         </div>
         <div class="col-sm-4">
              <%= f.text_field :ssdpostingtimezone %></div><br />
         <div class="col-sm-3">
              <%= f.label :ssdcommentorlanguage, 'Commentor language:' %>
         </div>
         <div class="col-sm-4">
              <%= f.text_field :ssdcommentorlanguage %></div><br />
         <div class="col-sm-3">
              <%= f.label :ssdtotalreview, 'Total Posting Reviews:' %>
         </div>
         <div class="col-sm-4">
              <%= f.text_field :ssdtotalreview %></div><br />
         <div class="col-sm-3">
              <%= f.label :ssdoverallrating, 'Overall Rating:' %>
         </div>
         <div class="col-sm-4">
              <%= f.text_field :ssdoverallrating %></div><br />
         <div class="col-sm-3">
              <%= f.label :ssdcommentorrating, 'Rating By Commentor:' %>
         </div>
         <div class="col-sm-4">
              <%= f.text_field :ssdcommentorrating %></div><br />
         <div class="col-sm-3">
              <%= f.label :ssdcomment, 'Review Comment:' %>
         </div>
         <div class="col-sm-4">
              <%= f.text_field :ssdcomment %></div><br />
          </div><!--  row -->
          <div class="row"> <div class="col-sm-3">
              <%= f.label :ssdpostat, 'Review posted at:' %>
           </div>
             <div class="col-sm-4">
              <%= f.text_field :ssdpostat %></div><br />
            </div><!-- row -->
          <div class="row">
            <div class="col-sm-3">
              <%= f.label :ssdcommentorloc, 'Commentor Location:' %>
             </div>
             <div class="col-sm-4">
              <%= f.text_field :ssdcommentorloc %></div><br />
        </div><!-- row -->
    </div><!-- container -->
    </div><!-- controls -->
  </div><!-- control-group -->
  <div class="form-actions">
    <% if @ssdmapping.persisted? %>
        <%= f.submit 'Update',  :class => 'btn btn-primary' %>
    <% else %>
        <%= f.submit 'Create new mapping',  :class => 'btn btn-primary' %>
    <% end %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                session[:mappingindex_page], :class => 'btn' %>
  </div>
<% end %>
<% end %>
