<%= form_for(@ssdmapping) do |f| %>
  <% if @ssdmapping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ssdmapping.errors.count, "error") %> prohibited this ssdmapping from being saved:</h2>

      <ul>
      <% @ssdmapping.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <div class="controls">
    <div class="container">
      <div class="row">
         <div class="col-sm-3">
               <%= f.label :mappingid,'Posting mapping ID:', :class => 'control-label' %>
         </div>
                <%= f.text_field :mappingid, readonly: true, :class => 'input-small' %><br />
         <div class="col-sm-3">
             <%= f.label :ssid, 'Social Media Site ID:' %>
         </div>   
             <%= f.collection_select :ssid, @site, :ssid, :ssname, :prompt => "Select a Social Media Site" %><br />
         <div class="col-sm-3">
              <%= f.label :ssdcommentorid, 'Posting Commentor ID:' %>
         </div>
              <%= f.text_field :ssdcommentorid %><br />
         <div class="col-sm-3">
              <%= f.label :ssdcommentorname, 'Posting Commentor Name:' %>
         </div>
              <%= f.text_field :ssdcommentorname %><br />
         <div class="col-sm-3">
              <%= f.label :ssdcommentortimezone, 'Commentor TimeZone:' %>
         </div> 
              <%= f.text_field :ssdcommentortimezone %><br />
         <div class="col-sm-3">
              <%= f.label :ssdpostingtimezone, 'Posting Timezone:' %>
         </div>
              <%= f.text_field :ssdpostingtimezone %><br />
         <div class="col-sm-3">
              <%= f.label :ssdcommentorlanguage, 'Commentor language:' %>
         </div>
              <%= f.text_field :ssdcommentorlanguage %><br />
         <div class="col-sm-3">
              <%= f.label :ssdtotalreview, 'Total Posting Reviews:' %>
         </div>
              <%= f.text_field :ssdtotalreview %><br />
         <div class="col-sm-3">
              <%= f.label :ssdoverallrating, 'Overall Rating:' %>
         </div>
              <%= f.text_field :ssdoverallrating %><br />
         <div class="col-sm-3">
              <%= f.label :ssdcommentorrating, 'Commentor Rating:' %>
         </div>
              <%= f.text_field :ssdcommentorrating %><br />
         <div class="col-sm-3">
              <%= f.label :ssdcomment, 'Review Comment:' %>
         </div>
              <%= f.text_field :ssdcomment %><br />
         <div class="col-sm-3">
              <%= f.label :ssdpostat, 'Review posted at:' %>
         </div>
              <%= f.text_field :ssdpostat %><br />
         <div class="col-sm-3">
              <%= f.label :ssdcommentorloc, 'Commentor Location:' %>
         </div>
              <%= f.text_field :ssdcommentorloc %><br />
      </div><!-- row -->
    </div><!-- container -->
    </div><!-- controls -->
  </div><!-- control-group -->
  <div class="form-actions">
    <% if @ssdmapping.persisted? %>
        <%= f.submit 'Update',  :class => 'btn btn-primary' %>
    <% else %>
        <%= f.submit 'Create new mapping',  :class => 'btn btn-primary' %>
    <% end %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                session[:mappingindex_page], :class => 'btn' %>
  </div>
<% end %>
