<% if can? :manage, @logins %>
   <%- model_class = Ssdmapping -%>
        <h1><%=t '.title', :default => 'Social Media Data Integration', :class => "page-header" %></h1>
<div class="container">
<div class="row">
  <div class="col-lg-12">
        <%= form_tag ssdmappings_path, :class => 'navbar-search', :method => :get do %>
        <%= text_field_tag :search, params[:search], class: 'search-query', placeholder: "Enter site name to search", :style => "padding-left:21px;height:31px;vertical-align:top" %>
          <div class="icon-search" style="position:absolute;top:8px;left:7px;"></div>
          <%= button_tag(type: "submit", class: "btn btn-info") do %>
                <span class="glyphicon glyphicon-search"></i>
          <% end %>
            <span class="actions content">
                 <%= link_to raw("<i class=\"icon-plus-sign icon-white\">Add A New Social Media Posting Mapping</i>"), new_ssdmapping_path, class: "btn btn-mini btn-info" %>
            </span>
        <% end %>
  </div><!-- class=col-lg-12 -->
</div><!-- class = row -->
</div><!-- class = container -->
<br />
<div class="container">
 <h5>List of Existing Social Media Posting Mappings</h5>
   <div><%= paginate @ssdmappings %></div>
  <tbody>
    <% @ssdmappings.each do |ssdmapping| %>
       <div class="col-md-2 col-md-offset-1">
             <h4>Posting Mapping ID#<%= ssdmapping.mappingid %></h4>
             <div class="actions">
                 <%= link_to raw("<i class=\"icon-edit icon-black\">Edit</i>"), edit_ssdmapping_path(ssdmapping), class: "btn btn-mini" %>
                <%= link_to raw("<i class=\"icon-trash icon-black\">Delete</i>") , ssdmapping_path(ssdmapping), class: "btn btn-mini btn-warning", method: :delete, data: { confirm: 'Are you sure?' } %>
             </div><!-- class=action -->
        </div><!-- class="col-md-2 col-md-offset-1" -->
        <div class="col-md-9">
            <h4><%= ssdmapping.ssname.ssname if ssdmapping.ssname %></h4>
             Social Media Site ID: <%= ssdmapping.ssid %><br />
             Posting Commentor ID: <tt><%= ssdmapping.ssdcommentorid %></tt><br />
             Posting Commentor Name: <tt><%= ssdmapping.ssdcommentorname %></tt><br />
             Posting Commentor Timezone: <tt><%= ssdmapping.ssdcommentortimezone %></tt><br />
             Posting Timezone: <tt><%= ssdmapping.ssdpostingtimezone %></tt><br />
             Commentor language: <tt><%= ssdmapping.ssdcommentorlanguage %></tt><br />
             Total Posting with Reviews: <tt><%= ssdmapping.ssdtotalreview %></tt><br />
             Overall Rating:<tt><%= ssdmapping.ssdoverallrating %></tt><br />
             Posting Commentor Rating: <tt><%= ssdmapping.ssdcommentorrating %></tt><br />
             Review Comment: <tt><%= ssdmapping.ssdcomment %></tt><br />
             Review Posted At: <tt><%= ssdmapping.ssdpostat %></tt><br />
             Posting Commentor Location: <tt><%= ssdmapping.ssdcommentorloc %></tt><br />
        </div>
     <% end %>
  </tbody>
</div> <!-- container -->
</div><!-- row -->
</div><!-- container -->
<% end %>
