<% if can? :manage, @logins %>
   <%- model_class = Ssdmapping -%>
        <h2><%=t '.title', :default => 'Social Media Data Representation', :class => "page-header" %></h2>

 <div class="container">
<div class="col-md-7">
  <div class="row">
      <div class="col-sm-4">
         <dt><strong>Post.Mapping ID:</strong></dt>
      </div>
      <div class="col-sm-8">
         <h10><%= @ssdmapping.mappingid %></h10>
      </div>
   </div>
  <div class="row">
      <div class="col-sm-4">
  <dt><strong>Social Media ID:</strong></dt>
      </div>
      <div class="col-sm-8">
  <h10><%= @ssdmapping.ssid %></h10>
      </div>
      </div>
  <div class="row">
      <div class="col-sm-4">
  <dt><strong>Post. Commentor ID:</strong></dt>
      </div>
      <div class="col-sm-8">
  <h10><%= @ssdmapping.ssdcommentorid %></h10>
      </div>
      </div>
  <div class="row">
      <div class="col-sm-4">
  <dt><strong>Post.CommentorName:</strong></dt>
      </div>
      <div class="col-sm-8">
  <h10><%= @ssdmapping.ssdcommentorname %></h10>
      </div>
      </div>
  <div class="row">
      <div class="col-sm-4">
  <dt><strong>Post.CommentorTmz:</strong></dt>
      </div>
      <div class="col-sm-8">
  <h10><%= @ssdmapping.ssdcommentortimezone %></h10>
      </div>
      </div>
  <div class="row">
      <div class="col-sm-4">
  <dt><strong>Post.Timezone:</strong></dt>
     </div>
      <div class="col-sm-8">
  <h10><%= @ssdmapping.ssdpostingtimezone %></h10>
      </div>
      </div>
  <div class="row">
      <div class="col-sm-4">
  <dt><strong>Posting URL:</strong></dt>
      </div>
      <div class="col-sm-8">
  <h10><%= @ssdmapping.postingurl %></h10>
      </div>
      </div>
  <div class="row">
      <div class="col-sm-4">
  <dt><strong>Commentor Language:</strong></dt>
      </div>
      <div class="col-sm-8">
  <h10><%= @ssdmapping.ssdcommentorlanguage %></h10>
      </div>
      </div>
  <div class="row">
      <div class="col-sm-4">
  <dt><strong>Total Reviews:</strong></dt>
      </div>
      <div class="col-sm-8">
  <h10><%= @ssdmapping.ssdtotalreview %></h10>
      </div>
      </div>
  <div class="row">
      <div class="col-sm-4">
  <dt><strong>Overall Rating:</strong></dt>
      </div>
      <div class="col-sm-8">
  <h10><%= @ssdmapping.ssdoverallrating %></h10>
      </div>
      </div>
  <div class="row">
      <div class="col-sm-4">
  <dt><strong>Commentor Rating:</strong></dt>
      </div>
      <div class="col-sm-8">
  <h10><%= @ssdmapping.ssdcommentorrating %></h10>
      </div>
      </div>
  <div class="row">
      <div class="col-sm-4">
  <dt><strong>Comments:</strong></dt>
      </div>
      <div class="col-sm-8">
  <h10><%= @ssdmapping.ssdcomment %></h10>
      </div>
      </div>
  <div class="row">
      <div class="col-sm-4">
  <dt><strong>Posting posted at:</strong></dt>
      </div>
      <div class="col-sm-8">
  <h10><%= @ssdmapping.ssdpostat %></h10>
      </div>
      </div>
  <div class="row">
      <div class="col-sm-4">
  <dt><strong>Commentor Location:</strong></dt>
      </div>
      <div class="col-sm-8">
  <h10><%= @ssdmapping.ssdcommentorloc %></h10>
      </div>
      </div>
</div><!-- col-md-7 -->
<div class="col-md-5">
    <h3><%=@sitename %> - Mapping Validation:</h3>
        <p> Test http request: <%= @app_url %></p>
        <span><%= raw @msgcode %> <%= @msgout %></span>
   <textarea rows="8" cols="80">
   <% if @result.blank? %>
       No Valid Mapping rule found !!
   <% else %>
   <% @result.each do |s| %>
    <%= s %>
    <% end %>
  <% end %>
    Response Data : <%= @body %>
  </textarea>
</div><!-- col-md-6  -->
</div><!-- container -->
<div class="form-actions">
<div class="col-sm-4 col-sm-offset-1">
  <%= link_to '<i class="glyphicon glyphicon-hand-left"></i>Back'.html_safe,
              ssdmappings_path, class: "btn btn-sm btn-custom-back"  %>
  <%= link_to '<i class="glyphicon glyphicon-edit"></i>Edit'.html_safe,
              edit_ssdmapping_path(@ssdmapping), class: "btn btn-sm btn-custom-edit" %>
  <%= link_to '<i class="glyphicon glyphicon-trash"></i>Delete'.html_safe,
              ssdmapping_path(@ssdmapping),
              class: "btn btn-sm btn-custom-delete", method: :delete,
              data: { confirm: 'Are you sure?' } %>
</div>
</div>

<% end %>


