<p id="notice"><%= notice %></p>
<%- model_class = Ssdmapping -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Posting Mapping ID:</strong></dt>
  <dd><%= @ssdmapping.mappingid %></dd>
  <dt><strong>Social Media ID:</strong></dt>
  <dd><%= @ssdmapping.ssid %></dd>
  <dt><strong>Posting Commentor ID:</strong></dt>
  <dd><%= @ssdmapping.ssdcommentorid %></dd>
  <dt><strong>Posting Commentor Name:</strong></dt>
  <dd><%= @ssdmapping.ssdcommentorname %></dd>
  <dt><strong>Posting Commentor Timezone:</strong></dt>
  <dd><%= @ssdmapping.ssdcommentortimezone %></dd>
  <dt><strong>Posting Timezone:</strong></dt>
  <dd><%= @ssdmapping.ssdpostingtimezone %></dd>
  <dt><strong>Commentor Language:</strong></dt>
  <dd><%= @ssdmapping.ssdcommentorlanguage %></dd>
  <dt><strong>Total Reviews:</strong></dt>
  <dd><%= @ssdmapping.ssdtotalreview %></dd>
  <dt><strong>Overall Rating:</strong></dt>
  <dd><%= @ssdmapping.ssdoverallrating %></dd>
  <dt><strong>Commentor Rating:</strong></dt>
  <dd><%= @ssdmapping.ssdcommentorrating %></dd>
  <dt><strong>Comments:</strong></dt>
  <dd><%= @ssdmapping.ssdcomment %></dd>
  <dt><strong>Posting posted at:</strong></dt>
  <dd><%= @ssdmapping.ssdpostat %></dd>
  <dt><strong>Commentor Location:</strong></dt>
  <dd><%= @ssdmapping.ssdcommentorloc %></dd>
</dl>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              session[:mappingindex_page], :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_ssdmapping_path(@ssdmapping), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              ssdmapping_path(@ssdmapping),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
