<p id="notice"><%= notice %></p>

<p>
  <strong>Mappingid:</strong>
  <%= @ssdmapping.mappingid %>
</p>

<p>
  <strong>Ssid:</strong>
  <%= @ssdmapping.ssid %>
</p>

<p>
  <strong>Ssdcommentorid:</strong>
  <%= @ssdmapping.ssdcommentorid %>
</p>

<p>
  <strong>Ssdcommentorname:</strong>
  <%= @ssdmapping.ssdcommentorname %>
</p>

<p>
  <strong>Ssdcommentortimezone:</strong>
  <%= @ssdmapping.ssdcommentortimezone %>
</p>

<p>
  <strong>Ssdpostingtimezone:</strong>
  <%= @ssdmapping.ssdpostingtimezone %>
</p>

<p>
  <strong>Ssdcommentorlanguage:</strong>
  <%= @ssdmapping.ssdcommentorlanguage %>
</p>

<p>
  <strong>Ssdtotalreview:</strong>
  <%= @ssdmapping.ssdtotalreview %>
</p>

<p>
  <strong>Ssdoverallrating:</strong>
  <%= @ssdmapping.ssdoverallrating %>
</p>

<p>
  <strong>Ssdcommentorrating:</strong>
  <%= @ssdmapping.ssdcommentorrating %>
</p>

<p>
  <strong>Ssdcomment:</strong>
  <%= @ssdmapping.ssdcomment %>
</p>

<p>
  <strong>Ssdpostat:</strong>
  <%= @ssdmapping.ssdpostat %>
</p>

<p>
  <strong>Ssdcommentorloc:</strong>
  <%= @ssdmapping.ssdcommentorloc %>
</p>

<%= link_to 'Edit', edit_ssdmapping_path(@ssdmapping) %> |
<%= link_to 'Back', ssdmappings_path %>
