<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || "Collection and Integration of Postings on Social Media" %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %> 

     <%=javascript_include_tag "application", "data-turbolinks-track" => true %>
 <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body> 
   <%= render 'layouts/header' %>
   <div class="container">
     <%= yield %>
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
     <%= render 'layouts/footer' %>
   </div>
</body>
</html>
