<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || "Collection and Integration of Postings on Social Media" %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
 <div id="container">
   <div id="login_nav">
	<% if login_signed_in? %>
   		Logged in as <strong><%=current_login.username %></strong>. Not you?
  		<%= link_to 'Edit profile', edit_login_registration_path %> <br />
                <%= link_to 'Find business',  businesses_path %><br /> 
                <%= link_to 'Find social Media site', socialmediasites_path %><br /> 
  		<%= link_to "Logout", destroy_login_session_path, :method => :delete %>
	<% else %>
		<%= link_to "Administrator Sign up", new_login_registration_path %> or <%= link_to "Sign In", new_login_session_path %>
        <% end %>	
   </div>
      
       <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
       <% end %> 	  
    <%= yield %>
 <div>
</body>
</html>
